# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: [self-hosted]

    steps:
    - uses: actions/checkout@v4
    - run: node -v
    - run: npm -v
    - run: npm ci
    - run: id
    - run: ls -l /var/run/docker.sock
    - run: ls -i /var/run/docker.sock
    - run: whoami
    - run: npm run validate
    - run: npm run build --if-present
    - run: npm test --if-present
    - run: docker container rm --force fractalprod
    - run: docker run --detach -p 5173:5173   --env TOKEN=${{ secrets.GITHUB_TOKEN }}   --env REPO="kiborrdis/fractals" --env PACKAGE="" --name fractalprod deployer1
