.showcaseContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.animateIn {
  animation: fadeIn 0.2s ease-in;
  z-index: 3;
  background-color: black;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.boxShadowGrid,
.animateIn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxShadowGrid {
  z-index: 2;
}

.boxShadowRow {
  display: flex;
  height: var(--row-height);
}

.boxShadowCell {
  flex: 1;
  box-shadow: inset 0px 0px 31px 18px rgba(0, 0, 0, 0.4);
}
